.nav-links-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  .nav-links-row .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .nav-links-row .nav-link img {
    margin-bottom: 0.5rem;
  }

  .content-card {
    perspective: 1000px;
    background: transparent;
    width: 100%;
}

.card-inner {
    position: relative;
    width: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-flip {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 2rem;
    background: white;
    border-radius: 8px;
}

.card-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    height: 100%;
}


.badge {
  text-transform: uppercase !important;
  letter-spacing: .44px !important;
  font-size: 11px !important;
  padding: 0.5em 1.5em !important;
  border-radius: 5px !important;
  font-weight: 400;

  &.accepted {
      background-color: yellowgreen;
      color: black;
      padding: 0.4em 0.5em !important;
  }

  &.review-pending {
      background-color: #d1ecf1;
  }

  &.under-review {
      background-color: #fff3cd;
      padding: 0.4em 0.5em !important;
  }

  &.retracted {
      background-color: #ff3333;
  }

  &.peer-review {
      background-color: #d64a57;
      color: white;
      padding: 0.4em 0.5em !important;
      margin-top: 10px !important;
  }

  &.docker {
      background-color: #1D63ED;
      color: white;
      padding: 0.4em 0.4em !important;
      align-content: center;
      font-size: 12px !important;
  }

  &.github {
      background-color: #24292e;
      color: white;
      padding: 0.4em 0.4em !important;
      align-content: center;
      font-size: 12px !important;
  }

  &.book {
      background-color: #275e5f;
      color: white;
      padding: 0.4em 0.4em !important;
      align-content: center;
      font-size: 12px !important;
  }

  &.data {
      background-color: purple;
      color: white;
      padding: 0.4em 0.4em !important;
      align-content: center;
      font-size: 12px !important;
  }

  &.peer-review::before {
      content: "🌺";
      margin-right: 2px;
      background-color: lightgray;
      color: black;
      padding: 0.6em 0.2em;
      border-radius: 5px;
      font-size: 12px !important;
      margin-top: 3px !important;
  }

  &.under-review::before {
      content: "🌰";
      margin-right: 2px;
      background-color: burlywood;
      padding: 0.6em 0.2em;
      border-radius: 5px;
      font-size: 12px !important;
  }

  &.accepted::before {
      content: "🌱";
      margin-right: 2px;
      background-color: darkgreen;
      padding: 0.6em 0.2em;
      border-radius: 5px;
      font-size: 12px !important;
  }
}
